<div class="panel-heading">
    <h2>{{ pageTitle }}</h2>    
</div>
<div class="panel-body">
    <div class="row filter">
        <div class="col-md-4"><span class="glyphicon glyphicon-search" aria-hidden="true"><input type="text" class="search" [(ngModel)]="listFilter"></span></div>
        <div class="col-md-8">Resultados filtrados por: <strong>{{ listFilter }}</strong></div>
    </div>  
    <div class="table-responsive">
        <table class='table' *ngIf='sustantivos && sustantivos.length'>
            <thead>
                <tr>
                    <th>{{ msgSustantivo }}</th>
                    <th>{{ msgArea }}</th>
                    <th>{{ msgCronologia }}</th>
                    <th>{{ msgOcurrencias }}</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#sustantivo of sustantivos | sustantivoFilter:listFilter">
                    <td>{{ sustantivo.sustantivo }}</td>
                    <td>{{ sustantivo.area }}</td>
                    <td>{{ sustantivo.cronologia }}</td>
                    <td>{{ sustantivo.ocurrencias }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel">
        <div class="alert alert-danger" role="alert" *ngIf='msgError'>
            {{ msgError }}
        </div>
    </div>
</div>