<div class="panel-heading">
    <h2>{{ pageTitle }}</h2>    
</div>
<div class="panel-body">
    <div class="row filter">
        <div class="col-md-4"><span class="glyphicon glyphicon-search" aria-hidden="true"><input type="text" class="search" [(ngModel)]="listFilter"></span></div>
        <div class="col-md-8">Resultados filtrados por: <strong>{{ listFilter }}</strong></div>
    </div>
    <div class="table-responsive">
        <table class='table' *ngIf='verbos && verbos.length'>
            <thead>
                <tr>
                    <th>{{ msgVerbo }}</th>
                    <th>{{ msgCronologia }}</th>              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#verbo of verbos | verboFilter:listFilter">
                    <td>{{ verbo.verbo }}</td>
                    <td>{{ verbo.cronologia }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel">
        <div class="alert alert-danger" role="alert" *ngIf='msgError'>
            {{ msgError }}
        </div>
    </div>
</div>